
$blanco-transparente: rgba(255, 255, 255, 0.945);
$color-letras: #020659;
$color-barras: #fcdbdbf6;
$color-contenido:#f2b3b3fa;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
img {
    max-width: 100%;
}
h1{
    padding-top: 1rem;
}
body{
  background-color: $blanco-transparente;
  background-image: url("../img/logo.png");
  background-size:80px;
  background-repeat: repeat;
  background-attachment:fixed;
}
main{
    background-color: rgba(244, 244, 244, 0.884);
}
