.header{
    &__logo{
        background-color:$blanco-transparente;
        text-align: center;
    }
    &__img{
        width: 300px;
    }
    &__nav{
        background-color: $color-barras;
        border-top: solid 0.5px $color-gris;
        border-bottom: solid 0.5px $color-gris;
    }
    &__titulo{
        color: $color-letras;
    }
    &__li a:hover{
        color:  #3f3f3f;
        font-size: large;
    }
    &__items{
        color: $color-letras;
    }
}