.header{
    &__logo{
        background-color: rgba(255, 255, 255, 0.918);
        text-align: center;
    }
    &__img{
        width: 300px;
    }
    &__nav{
        background-color: $color-barras;
    }
    &__titulo{
        color: $color-letras;
    }
    &__li a:hover{
        color:  #3f3f3f;;
    }
    &__items{
        color: $color-letras;
    }
}