.contenedor{
    &__tarjeta{
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:$color-contenido;
    box-shadow: 1px 1px 5px;
    }
    &__novedades{
    background-color:$color-contenido;
    padding: 2rem;
    box-shadow: 1px 1px 5px;
    }
    &__contenido{
        max-width:100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    &__parrafo{
        text-align: left;
    }
    &__parrafo-nov{
        text-align: left;
    }
    &__galeria{
        display: flex;
        min-width: 300px;
        max-width: 450px;
        overflow:hidden;
        
    }
    &__img{
        transition:all .7s ease-in-out;
        
        &:hover{  
            -webkit-transform:scale(1.4);transform:scale(1.4);
            
        }
    }
    &__contenido h2{
        color:$color-letras;
        font-family:fantasy;
    }
}
@media(min-width:768px){
    .contenedor section{
        flex-direction: row;
    }


}